aiohttp==3.8.1
alluka==0.1.2
dateparser==1.1.1
gpytranslate==1.4.0
hikari==2.0.0.dev110
hikari-miru==1.1.2
git+https://github.com/GoogleGenius/plane
hikari-tanchi==1.3.3
hikari-tanjun==2.6.1a1
psutil==5.9.1
pyright==1.1.268
toml==0.10.2
uvloop==0.16.0; sys_platform != "win32"
