aiohttp==3.8.1
dateparser==1.1.1
hikari==2.0.0.dev108
hikari-miru==1.1.1
git+https://github.com/thesadru/tanchi.git
hikari-tanjun==2.5.0a1
pandas==1.4.2
pandas-stubs==1.2.0.58
psutil==5.9.0
pyright==1.1.242
toml==0.10.2
uvloop==0.16.0; sys_platform != "win32"
